# shellcheck disable=SC2034
# Redis Configuration
REDIS_IMAGE=bitnami/redis:6.0.13
REDIS_PORT=6379
REDIS_REPLICA_START_PORT=6380
REDIS_REPLICA_END_PORT=6399
REDIS_REPLICA_COUNT=2

# Redis Master Configuration
REDIS_MASTER_HOST=redis-master

# Sentinel Configuration
SENTINEL_IMAGE=bitnami/redis-sentinel:6.0.13
SENTINEL_PORT=26379
SENTINEL_QUORUM=2
SENTINEL_COUNT=3
SENTINEL_EXPOSE_START_PORT=26379
SENTINEL_EXPOSE_END_PORT=26381

# Enable exporter
ENABLE_EXPORTER=true
## Redis Exporter Configuration
REDIS_EXPORTER_IMAGE=oliver006/redis_exporter:v1.67.0
REDIS_EXPORTER_PORT=9121
## Sentinel Exporter Configuration
SENTINEL_EXPORTER_IMAGE=leominov/redis_sentinel_exporter:1.9.0
SENTINEL_EXPORTER_PORT=9355
